/* - - - - - CSS-VARIABLES - - - - - */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --dark-bg-color: #2f303a;
  --gray-bg-color: #f5f4fa;
  --border-color: #ececec;
  --card-border-color: #eeeeee;

  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --primary-font-family: "Roboto";
  --accent-font-family: "Raleway";
}

/* - - - - - to hide heading - - - - - */
.visually-hidden {   
    position: absolute;   
    width: 1px;   
    height: 1px;   
    margin: -1px;   
    padding: 0;   
    overflow: hidden;   
    border: 0;   
    clip: rect(0 0 0 0); 
}

/* - - - - - MY RESET - - - - - */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);

  font-family: var(--primary-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* - - - - - HEADER - - - - - */
.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
}
.header-box {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: block;
  color: var(--black-color);
  margin-right: 93px;

  font-family: var(--accent-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-item {
  color: var(--accent-color);
}
.nav-bar {
  display: flex;
  align-items: center;
}
.site-nav .link,
.contacts .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.site-nav .list:not(:last-child),
.contacts .list:not(:last-child) {
  margin-right: 50px;
}
.site-nav a,
.contacts a {
  display: block;
  padding: 32px 0;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.contacts .icon:hover {
  fill: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
}
.contacts .list {
  display: flex;
  align-items: center;
}

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .icon {
  fill: var(--primary-text-color);
}
.contacts .thumb {
  margin-right: 10px;
}

/* - - - - - PAGE-INDEX - - - - - */
.site-nav {
  display: flex;
}
.hero {
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-color: var(--dark-bg-color);
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}
.hero .hero-title {
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.list .list-title,
.section .section-title {
  color: var(--title-text-color);
}
.list .list-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section {
  padding: 94px 0;
}
.advantages .box {
  display: flex;
  justify-content: space-between;
}
.advantages .list {
  width: 23%;
}
.advantages .thumb {
  border:transparent;
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: var(--gray-bg-color);
  text-align: center;
}
.advantages .description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.button {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;

  font-family: inherit;
}
.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button.primary:focus,
.button.primary:hover {
  color: var(--title-text-color);
  background-color: var(--gray-bg-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.works .list.list:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--gray-bg-color);
}
.team .box {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.position-item {
  width: 270px;

  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
}
.team-content {
  padding: 30px 0;
}
.position-item .list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-transform: none;
  letter-spacing: 0.03em;
}
.position-item .description {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.what-we-do {
  padding-top: 0;
}

.what-we-do .box {
  display: flex;
  justify-content: space-between;
}

/* - - - - - FOOTER - - - - - */
.page-footer {
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}
.page-footer .logo {
  display: inline-block;
  margin-bottom: 30px;
  color: var(--white-color);
}
.page-footer .address-info .address,
.address-info .mail,
.address-info .phone {
  color: var(--transparent-white-color);
}
.page-footer .address-info .address {
  color: var(--white-color);
}
.address-info .address:focus,
.address-info .mail:hover,
.address-info .mail:focus,
.address-info .phone:hover,
.address-info .phone:focus {
  color: var(--white-color);
}

.address-info .link {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-info .link:last-child {
  margin-bottom: 0;
}

/* - - - - - PAGE-PORTFOLIO - - - - - */
.portfolio {
  padding: 94px 0;
  background-color: var(--white-color);
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .list:not(:last-child) {
  margin-right: 8px;
}
.filter .button {
  padding: 6px 22px;
  background-color: var(--gray-bg-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filter .current {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card-set > .item {
  border: 1px solid var(--card-border-color);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.item .card-content {
  padding: 20px 24px;
}

.item .card-heading {
  color: var(--title-text-color);
  text-transform: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.item .card-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
